header {
  background-color: #8b1e3f;
  color: white;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-content h1 {
  font-size: 2.5em;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #dbba28;
}
